
// Colors
$brown: #310008;
$white: #FFFFFF;
$brownHover: #1f0d08;
$black: lighten(black, 10%);
$Purple: #A73A64;
$DarkBlue: #00587c;
$Blue: #00a3e0;
$Teal: #2cd5c4;
$Green: #43b02a;
$Yellow: #fedd00;
$Orange: #ff8200;
$WarmGray1: #d7d2cb;
$WarmGray4: #b6ada5;
$WarmGray8: #8c8279;
// RF Color
$WarmGray0: #ebe8e5;
$red: #a71010;
