/* Miller */

@font-face {
    font-family: 'Amplitude';
    src: url(../fonts/amplitude/Amplitude-Light.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Amplitude';
    src: url(../fonts/amplitude/Amplitude-Medium.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Amplitude';
    src: url(../fonts/amplitude/Amplitude-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

/* Celeste */

@font-face {
    font-family: 'Miller';
    src: url(../fonts/harriet/Miller-TextItalic.otf);
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Miller';
    src: url(../fonts/harriet/HarrietText-Regular.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Miller';
    src: url(../fonts/harriet/Miller-TextBold.otf);
    font-style: normal;
    font-weight: 600;
}


/* Icons */

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot') format('embedded-opentype'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html {
    font-size: 16px;
    color: $black;
}